DIV {
	border: 1px solid #ffffff
	}
	
#Header {
	height: 100px;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	background: url(images/banner.png) no-repeat;
	color: blue;
	}
	
#MainContent {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	}
	